[Unit]
Description=An orchestrator for containers

[Service]
ExecStart=/usr/bin/conductor
ExecStop=/bin/kill -2 $MAINPID

[Install]
WantedBy=multi-user.target